<script id="postLink-template" class="template" type="text/x-handlebars-template">

	<!-- Signup -->
	<div class="modal-container">
		<h3>Link</h3><span class="close icon-cross" data-action="close-modal"></span>
		<h4 class="post-link">\{{link}}</h4>
		<button onclick="$.event.trigger('post:link')">Post</button>
	</div>

</script>