<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<link rel="stylesheet" href="css/app.css">
		
		<script src="js/jquery-2.1.1.min.js"></script>
		<script src="js/handlebars-v2.0.0.js"></script>
		<script src="js/modal.js"></script>
		{{#if logged}}
			<script src="js/droplr.js"></script>
  	{{/if}}
	</head>

	<body>
		
		<!-- Header -->
		{{> header}}
		
		<!-- Body -->
		<div class="site-body">
			<div class="site-body-container row">
				
				<!-- Main -->
				<div class="container col-8 clearfix">
					
					<!-- Post -->
					<div class="post-content">
						<img class="content" src="img/testy.jpg">
						<br>
						<p class="post-text">
						Some stupid thingy.
						</p>
					</div>
					
					<!-- Post sidebar -->
					<div class="post-info">
						<img class="avatar" src="img/Carousel_Illustrations_Low_12.jpg">
						<span class="post-author">
						shash7	
						</span>
						<br>
						<img class="avatar" src="img/Carousel_Illustrations_Low_20.jpg">
						<span class="post-author">
						12 Likes
						</span>
						<br>
						<span class="post-author">
						Posted 2 days ago
						</span>
					</div>
				</div>
				<!-- Main END -->
				
				<!-- Sidebar -->
				<aside class="col-4 last">
				</aside>
				
			</div>
		</div>
		
		<!-- Templates -->
		{{#if logged}}
			{{> post}}
		{{else}}
			{{> login-signup}}
		{{/if}}
		<!-- Templates END -->
		
		<!-- Main script -->
		{{#if logged}}
			<script type="text/javascript">
				var personName = {{name}}
			</script>
			<script src="js/app-logged.js"></script>
		{{else}}
			<script src="js/app.js"></script>
		{{/if}}
		
	</body>
</html>